#grad1 {
  height: 400px;
  background-color: #ff79c0; /* For browsers that do not support gradients */
  background-image: linear-gradient(#3e0021, #ff79c0);
}
h1 {
  color: aliceblue;
  font-size: small;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
table {
  align-items: center;
}
table.center {
  margin-left: auto;
  margin-right: auto;
}
